<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%# <link rel="shortcut icon" href="/favicon.png"> %>
<title>THE MEATBALL SPEAKETH</title>

<style>

html, body, main {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  max-width: 60%;
  font: 7vmin/8.5vmin Helvetica, Arial, sans-serif;
}

div.small {
  font-size: 4vmin;
  line-height: 5vmin;
}

div.fail {
  color: #888;
}

form, input {
  font-size: 36px;
  width: 40vw;
  text-align: center;
}

</style>

<main>

  <%= yield %>

</main>
