<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<%# <link rel="shortcut icon" href="/favicon.png"> %>
<title>THE MEATBALL SPEAKETH</title>

<style>

html, body, main {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 60%;
  font: 7vh/8vh Helvetica, Arial, sans-serif;
}

div.small {
  font-size: 4vh;
  line-height: 5vh;
}

</style>

<main>

  <%= yield %>

</main>
